<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Civilizations of Central America</title>
	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
	{{{body}}}
</body>
</html>