<h2>Purpose</h2>
<p>This site was created to fulfill the requirements of CS290 Web Development for Oregon State University. It contains a basic set of features to demonstrate my still-humble ability to create a website.</p>
<h2>Theme</h2>
<p>I worked on this site almost entirely while on the vacation that it presents. I apologize if there is a little bit of sand in the html, its so hard to get rid of entirely.</p>
