
<h2>Notes</h2>
<ul>
	<li>All images included on this site were taken by the site author, David Wiens</li>
	<li>Downloadable Information PDF retrieved from www.visitmexico.com</li>
	<li>Some source code adapted from examples on Mozilla.org, W3Schools.com and stackoverflow.com</li>
	<li>My partner Ruby deserves mucho credit for putting up with me while I work on this website during our vacation :)</li>
</ul>