<script src="scriptWeatherFeature.js" type="text/javascript"></script>
<script src="scriptSc.js" type="text/javascript"></script>
<br>
<br>
<br>
<br>

<h2>Current Weather</h2>
	<p>The current temperature in San Cristobal is: </p><p id="cityTemp"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>