<script src="scriptWeatherFeature.js" type="text/javascript"></script>
<script src="scriptPa.js" type="text/javascript"></script>

<h2>Current Weather</h2>
	<div><span>The current temperature in San Palenque is: </span><span id="cityTemp"></span></div>

<h2>Travel Photos</h2>
<img src="/img/pa/pa1.jpg" class="photo">
<img src="/img/pa/pa2.jpg" class="photo">
<img src="/img/pa/pa3.jpg" class="photo">
<img src="/img/pa/pa4.jpg" class="photo">
