<script src="scriptWeatherFeature.js" type="text/javascript"></script>
<script src="scriptTu.js" type="text/javascript"></script>
<br><br>
<br>
<h2>Current Weather</h2>
	<p>The current temperature in Tulum is: </p><p id="cityTemp"></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>