<script src="scriptWeatherFeature.js" type="text/javascript"></script>
<script src="scriptTu.js" type="text/javascript"></script>

<h2>Current Weather</h2>
	<div><span>The current temperature in Tulum is: </span><span id="cityTemp"></span></div>

<h2>Travel Photos</h2>
<img src="/img/tu/tu1.jpg" class="photo">
<img src="/img/tu/tu2.jpg" class="photo">
<img src="/img/tu/tu3.jpg" class="photo">
<img src="/img/tu/tu4.jpg" class="photo">
<img src="/img/tu/tu5.jpg" class="photo">
