body {
	background: url(backgroundDark.jpg); 
	background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
	background-size: 100% 100%;
	background-color: black;

	font-family: Helvetica;
	color: lightgrey;
}


h1
{
	color: white;
}


nav a
{
	color: lightgrey;
}


.scrollingtextbox
{
	height:120px;
	width:120px;
	border:1px solid #ccc;
	font:16px/26px Georgia, Garamond, Serif;
	overflow:auto;
}


footer a
{
	color: lightgrey;
}